<center><img src='img/cdy.png' style='width:500px; float: left; margin: 0px 30px 15px 0px'></center>

# TF-IDF
## Class 19 - Data Science Curriculum

# ‚è™ Recap last class

- Text pre-processing
- Word Cloud

# üöÄ Today's agenda

- TF-IDF

<center><img src='img/pipeline.png' style='width:1500px; margin: 0px 30px 15px 0px'></center>

### Representation of data in numerical form

**Example: Images**

<center><img src='img/komp2.jpeg'>
<small>Image credit: VideoNet</small></center>

- An image is represented on a computer in the form of a matrix where each $m[i,j]$ represents pixel $i$,$j$ of the image

- Similarly, a video is a collection of frames, where each frame is an image. Therefore, any video can be represented as a collection of matrices

- (Un)fortunately, representing text numerically is not so simple

## ü§î The issue at hand...

<br>
<center><img src='img/gigo.png' style='height:350px;'>
<small>Image credit: R-Bloggers</small></center>

# Let's do some text pre-processing

In [1]:
import json
import pandas as pd


with open('princesses.json', 'r') as f:
    data = json.load(f)
    
df = pd.DataFrame(data.items(), columns=['princess', 'description']).set_index('princess')

df

                                                  description
princess
Snow White  Snow White is a princess of great beauty, whic...
Cinderella  Cinderella is a young woman subjected to the a...
Aurora      Princess Aurora is the only daughter of King S...
Ariel       In the 1989 film, Ariel is the youngest of Kin...
Belle       Belle lives in a small French village with her...
Jasmine     A modern Disney heroine: independent, intellig...
Pocahontas  Pocahontas is loosely based on the real-life f...
Mulan       Mulan breaks away from traditional Disney prin...
Tiana       Tiana is the first African-American Disney pri...
Rapunzel    Rapunzel is depicted as a beautiful girl with ...
Merida      At 16, Merida is the daughter of King Fergus a...

In [2]:
import re
import pandas as pd 

import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/vivianamarquez/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [4]:
sw = stopwords.words('english')

def text_pre_processing(text):
    text = text.lower() # Make it lowercase
    text = re.sub(r"[\W\d]", " ", text) # Remove punctuation
    text = text.split() # Tokenize
    text = [word for word in text if word not in sw] # Remove stop words
    return " ".join(text)

df['text_pp'] = df['description'].apply(lambda row: text_pre_processing(row))

In [5]:
df

,description,text_pp
princess,,
Snow White,"Snow White is a princess of great beauty, whic...",snow white princess great beauty makes stepmot...
Cinderella,Cinderella is a young woman subjected to the a...,cinderella young woman subjected authority ste...
Aurora,Princess Aurora is the only daughter of King S...,princess aurora daughter king stefan queen lea...
Ariel,"In the 1989 film, Ariel is the youngest of Kin...",film ariel youngest king triton seven daughter...
Belle,Belle lives in a small French village with her...,belle lives small french village father mauric...
Jasmine,"A modern Disney heroine: independent, intellig...",modern disney heroine independent intelligent ...
Pocahontas,Pocahontas is loosely based on the real-life f...,pocahontas loosely based real life figure mato...
Mulan,Mulan breaks away from traditional Disney prin...,mulan breaks away traditional disney princess ...
Tiana,Tiana is the first African-American Disney pri...,tiana first african american disney princess s...
Rapunzel,Rapunzel is depicted as a beautiful girl with ...,rapunzel depicted beautiful girl green eyes na...
Merida,"At 16, Merida is the daughter of King Fergus a...",merida daughter king fergus queen elinor ruler...

# ü§î Cool, we have cleaned and pre-processed our text... but it's still not numeric

<center><img src='img/this.png' style='width:300px; float: left; margin: 0px 30px 15px 0px'></center> <big>Vectorial representation of texts!</big>


(A vector is just a list of numbers)

# Vectorial representation of texts

- There are several methods

- What differentiates one method from the other is how well it captures the linguistic properties of the text it represents and the amount of space it takes up in memory

- Most popular methods:
    - One-Hot Encoding
    - Bag of Words 
    - TF-IDF 
    - Word embeddings (word2vec) 
        - CBOW (Continuous Bag of Words)
        - SkipGram

# One-Hot Encoding 

Mapping each word in the vocabulary of the text corpus to a unique identification

### Advantages
- Intuitive and easy to understand
- Implementation is straightforward

### Disadvantages
- Generates a sparse matrix
- The vector of each phrase does not have a constant size
- No notion of similarity between words
- Out-of-vocabulary problem

# Bag of Words (BoW)

- Represent the text as a bag of words (ignoring order and context).
- If two pieces of text have almost the same words, then they belong to the same bag.

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(binary=True)
bow_rep = count_vect.fit_transform(df['text_pp'].values)

print("Vocabulary: ", count_vect.vocabulary_)

df['bow'] = [row for row in bow_rep.toarray()]

df.head()

Vocabulary:  {'snow': 402, 'white': 475, 'princess': 349, 'great': 196, 'beauty': 40, 'makes': 278, 'stepmother': 409, 'queen': 352, 'jealous': 235, 'daily': 100, 'asks': 25, 'magic': 275, 'mirror': 294, 'fairest': 147, 'land': 247, 'always': 14, 'hoping': 215, 'say': 384, 'one': 318, 'day': 104, 'however': 217, 'tells': 428, 'furious': 178, 'decides': 106, 'young': 486, 'girl': 184, 'killed': 239, 'huntsman': 221, 'assigns': 26, 'task': 425, 'cannot': 65, 'bring': 60, 'lets': 257, 'escape': 138, 'lost': 268, 'forest': 173, 'exhausted': 142, 'ends': 133, 'house': 216, 'inhabited': 227, 'seven': 396, 'dwarfs': 126, 'cinderella': 78, 'woman': 483, 'subjected': 417, 'authority': 29, 'lady': 246, 'tremaine': 446, 'two': 454, 'stepsisters': 410, 'anastasia': 16, 'drizella': 123, 'although': 13, 'mistreated': 296, 'humiliated': 220, 'forced': 171, 'role': 372, 'servant': 394, 'maintains': 277, 'hope': 214, 'dreams': 121, 'believes': 44, 'wishes': 481, 'happiness': 202, 'come': 82, 'true': 451, 'orphaned': 322, 'fairy': 149, 'godmother': 189, 'animal': 18, 'friends': 177, 'support': 421, 'encourage': 131, 'pursuit': 351, 'love': 269, 'also': 12, 'strong': 415, 'determined': 114, 'royal': 379, 'ball': 34, 'invitation': 233, 'arrives': 24, 'everything': 140, 'convince': 91, 'deserves': 112, 'attend': 27, 'like': 260, 'anyone': 20, 'else': 130, 'cruel': 95, 'prevent': 347, 'going': 190, 'seen': 393, 'various': 462, 'outfits': 324, 'films': 159, 'rags': 355, 'blue': 51, 'nightgown': 312, 'pink': 334, 'dress': 122, 'made': 273, 'animals': 19, 'torn': 438, 'magical': 276, 'gown': 194, 'wedding': 473, 'often': 317, 'depicted': 108, 'merchandise': 289, 'wearing': 471, 'light': 259, 'glass': 187, 'slippers': 400, 'long': 265, 'gloves': 188, 'aurora': 28, 'daughter': 102, 'king': 242, 'stefan': 408, 'leah': 251, 'portrayed': 339, 'kind': 241, 'gentle': 181, 'timid': 437, 'somewhat': 403, 'naive': 304, 'loves': 270, 'romance': 374, 'dominant': 120, 'personality': 333, 'trait': 442, 'christening': 77, 'three': 434, 'good': 192, 'fairies': 148, 'bless': 49, 'grace': 195, 'beautiful': 39, 'voice': 467, 'maleficent': 279, 'describes': 111, 'indeed': 224, 'admit': 3, 'rare': 357, 'hair': 201, 'golden': 191, 'wheat': 474, 'lips': 261, 'brightest': 59, 'rose': 377, 'alas': 10, 'rests': 370, 'name': 305, 'comes': 83, 'perrault': 332, 'tale': 423, 'originally': 321, 'given': 185, 'tchaikovsky': 426, 'applied': 21, 'ballet': 35, 'disney': 119, 'later': 250, 'followed': 168, 'film': 158, 'alias': 11, 'hide': 210, 'german': 182, 'version': 463, 'first': 164, 'french': 175, 'called': 64, '√©glantine': 488, 'direct': 116, 'translation': 443, 'briar': 57, 'english': 134, 'translations': 444, 'rosamond': 375, 'rosamund': 376, 'ariel': 23, 'youngest': 487, 'triton': 449, 'daughters': 103, 'aged': 8, 'adventurous': 5, 'curious': 96, 'human': 218, 'world': 485, 'shocks': 398, 'father': 152, 'forbids': 170, 'contact': 89, 'humans': 219, 'deeply': 107, 'wary': 469, 'best': 47, 'friend': 176, 'fish': 165, 'named': 306, 'flounder': 166, 'close': 79, 'sebastian': 388, 'crab': 93, 'advisor': 6, 'secretly': 390, 'collects': 81, 'objects': 315, 'hidden': 209, 'grotto': 198, 'story': 414, 'saves': 383, 'prince': 348, 'eric': 137, 'falls': 150, 'conflict': 87, 'visits': 466, 'sea': 387, 'witch': 482, 'ursula': 461, 'trading': 440, 'legs': 255, 'days': 105, 'win': 479, 'heart': 204, 'nearly': 308, 'succeeds': 418, 'getting': 183, 'kiss': 244, 'interferes': 231, 'time': 436, 'runs': 381, 'becomes': 42, 'mermaid': 292, 'save': 382, 'gives': 186, 'crown': 94, 'trident': 448, 'kills': 240, 'ensuing': 135, 'battle': 37, 'restores': 369, 'form': 174, 'permanently': 331, 'marry': 284, 'belle': 45, 'lives': 263, 'small': 401, 'village': 464, 'maurice': 286, 'inventor': 232, 'locals': 264, 'think': 432, 'mad': 271, 'books': 53, 'exploration': 144, 'visiting': 465, 'bookshop': 54, 'new': 311, 'stories': 413, 'though': 433, 'admired': 2, 'many': 281, 'find': 161, 'odd': 316, 'peculiar': 329, 'gaston': 180, 'pursues': 350, 'firmly': 163, 'rejects': 361, 'tv': 453, 'movie': 300, 'descendants': 109, 'takes': 422, 'place': 335, 'beast': 38, 'son': 404, 'ben': 46, 'central': 68, 'character': 71, 'modern': 297, 'heroine': 207, 'independent': 225, 'intelligent': 230, 'bold': 52, 'guided': 200, 'jasmine': 234, 'feels': 154, 'stifled': 412, 'palace': 327, 'life': 258, 'control': 90, 'th': 429, 'birthday': 48, 'legally': 254, 'required': 363, 'choose': 76, 'suitor': 419, 'away': 31, 'hides': 211, 'marketplace': 282, 'meets': 288, 'aladdin': 9, 'helps': 206, 'trouble': 450, 'merchant': 290, 'beginning': 43, 'sultan': 420, 'blessing': 50, 'poor': 338, 'thief': 430, 'eventually': 139, 'unite': 457, 'pocahontas': 337, 'loosely': 266, 'based': 36, 'real': 358, 'figure': 157, 'matoaka': 285, 'known': 245, 'means': 287, 'little': 262, 'mischief': 295, 'powhatan': 342, 'presents': 345, 'noble': 313, 'chief': 73, 'spiritual': 407, 'wise': 480, 'others': 323, 'nature': 307, 'adventure': 4, 'seems': 392, 'possess': 340, 'shamanic': 397, 'powers': 341, 'communicating': 84, 'elements': 128, 'understanding': 456, 'unknown': 458, 'languages': 248, 'unlike': 459, 'tribe': 447, 'open': 319, 'minded': 293, 'unafraid': 455, 'serving': 395, 'bridge': 58, 'people': 330, 'foreigners': 172, 'mulan': 301, 'breaks': 56, 'traditional': 441, 'roles': 373, 'ancient': 17, 'chinese': 75, 'expectations': 143, 'women': 484, 'quiet': 353, 'obedient': 314, 'reserved': 365, 'brave': 55, 'clumsy': 80, 'resourceful': 366, 'honest': 213, 'unsure': 460, 'feeling': 153, 'disappointment': 118, 'family': 151, 'grows': 199, 'confident': 86, 'helping': 205, 'china': 74, 'courage': 92, 'determination': 113, 'ingenuity': 226, 'earn': 127, 'respect': 367, 'tiana': 435, 'african': 7, 'american': 15, 'second': 389, 'original': 320, 'maddy': 272, 'changed': 70, 'due': 124, 'concerns': 85, 'resembled': 364, 'mammy': 280, 'racially': 354, 'insensitive': 228, 'stereotype': 411, 'talented': 424, 'waitress': 468, 'chef': 72, 'owning': 326, 'restaurant': 368, 'rough': 378, 'diamond': 115, 'must': 303, 'learn': 252, 'key': 238, 'lessons': 256, 'become': 41, 'director': 117, 'john': 236, 'musker': 302, 'described': 110, 'strongest': 416, 'willed': 478, 'heroines': 208, 'motivated': 299, 'things': 431, 'way': 470, 'learns': 253, 'balance': 33, 'necessary': 309, 'important': 222, 'career': 66, 'rapunzel': 356, 'green': 197, 'eyes': 146, 'shy': 399, 'trapped': 445, 'tower': 439, 'wicked': 476, 'mother': 298, 'gothel': 193, 'spends': 406, 'playing': 336, 'chameleon': 69, 'pascal': 328, 'brushing': 63, 'seeing': 391, 'outside': 325, 'flynn': 167, 'rider': 371, 'accidentally': 0, 'finds': 162, 'marries': 283, 'healing': 203, 'activated': 1, 'spell': 405, 'cut': 98, 'turns': 452, 'brown': 62, 'loses': 267, 'never': 310, 'back': 32, 'end': 132, 'cuts': 99, 'final': 160, 'tear': 427, 'last': 249, 'merida': 291, 'fergus': 155, 'elinor': 129, 'rulers': 380, 'dun': 125, 'broch': 61, 'scottish': 386, 'highlands': 212, 'curly': 97, 'red': 360, 'wears': 472, 'dark': 101, 'rebellious': 359, 'fiery': 156, 'causes': 67, 'constant': 88, 'insists': 229, 'ensure': 136, 'kingdom': 243, 'future': 179, 'prefers': 344, 'exploring': 145, 'practicing': 343, 'archery': 22, 'relaxed': 362, 'fond': 169, 'jokes': 237, 'avoids': 30, 'scolding': 385, 'except': 141, 'pressure': 346, 'impulsive': 223, 'madly': 274, 'wife': 477}

,description,text_pp,bow
princess,,,
Snow White,"Snow White is a princess of great beauty, whic...",snow white princess great beauty makes stepmot...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
Cinderella,Cinderella is a young woman subjected to the a...,cinderella young woman subjected authority ste...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ..."
Aurora,Princess Aurora is the only daughter of King S...,princess aurora daughter king stefan queen lea...,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, ..."
Ariel,"In the 1989 film, Ariel is the youngest of Kin...",film ariel youngest king triton seven daughter...,"[0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, ..."
Belle,Belle lives in a small French village with her...,belle lives small french village father mauric...,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

### Advantages
- Intuitive and easy to understand
- The implementation is straightforward
- The vector of each phrase has a constant size

### Disadvantages
- Generates a sparse matrix (solution?)
- No notion of similarity between words
- Out-of-vocabulary problem
- Information order is lost

# TF-IDF (Term Frequency, Inverse Document Frequency) 

- It seeks to quantify the importance of a word relative to the other words in the document and in the corpus.
- It is frequently used in information retrieval systems and clustering algorithms.
- The more a word helps to distinguish a document from others, the higher its TF-IDF score will be.

### TF: Term Frequency

- Term frequency: Counting the number of occurrences of a word in a document, divided by the number of words in that document.

$$ tf(t,d) = \dfrac{count(t)}{|d|}$$

where
- $t$ is term
- $d$ is document

*Note: The term frequency is higher for words frequently used in a document.*

### DF: Document Frequency

- Frequency in documents: It is the number of documents that have that word over the total number of documents.

$$ df(t,N) = \dfrac{|\{d_i: t\in d_i, i=1, \dots , N\}|}{N}$$

where
- $t$ is term
- $N$ is Number of documents

*Note: Frequency in documents is higher for words used in many documents*

## So far we have TF and DF... how do we get to TD-IDF?

- A specific word to some document will have very low term frequency

- Since the goal is to distinguish one document from another, we want to highlight words used frequently in one document but penalize them if they are present in all documents. This is called TF-IDF.

- Then, we obtain:

$$tfidf (t,d,N) = tf(df) \times \log\big(\frac{1}{df(t,N)}\big)$$

where
- $t$ is term
- $d$ is document
- $N$ is Number of documents

- When $t$ is in all documents, $idf = log(1) = 0$
 
- This makes sense since a word that is in all documents is very bad at distinguishing between documents

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer()
tfidf = tfidf_vect.fit_transform(df['text_pp'].values)

tfidf_matrix = pd.DataFrame(tfidf.toarray(), columns=tfidf_vect.get_feature_names_out())

tfidf_matrix.index = df.index

tfidf_matrix.T.round(3)

princess,Snow White,Cinderella,Aurora,Ariel,Belle,Jasmine,Pocahontas,Mulan,Tiana,Rapunzel,Merida
accidentally,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.118,0.0
activated,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.118,0.0
admired,0.000,0.000,0.000,0.000,0.141,0.0,0.000,0.000,0.0,0.000,0.0
admit,0.000,0.000,0.098,0.000,0.000,0.0,0.000,0.000,0.0,0.000,0.0
adventure,0.000,0.000,0.000,0.000,0.000,0.0,0.146,0.000,0.0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
women,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.176,0.0,0.000,0.0
world,0.000,0.000,0.000,0.073,0.000,0.0,0.000,0.000,0.0,0.101,0.0
young,0.084,0.064,0.066,0.000,0.000,0.0,0.098,0.000,0.0,0.000,0.0
youngest,0.000,0.000,0.000,0.085,0.000,0.0,0.000,0.000,0.0,0.000,0.0
√©glantine,0.000,0.000,0.098,0.000,0.000,0.0,0.000,0.000,0.0,0.000,0.0

# üîÆ In the next class

#### Going from TF-IDF to Word2Vec

- So far, the vector representations of text that we have seen treat linguistic units as atomic units.
- Vectors are sparse
- They have problems with words outside the vocabulary

With distributed representations, such as **word2vec**, we can create dense, low-dimensional representations that capture distributional similarities between words

# Similarity measures
How similar are the documents?

# Euclidean distance

<br>
<center><img src='img/dist_euc.png' style='height:350px;'>
<small>Image credit: R-Bloggers</small></center>

In [9]:
from sklearn.metrics.pairwise import euclidean_distances

dist_euc = euclidean_distances(tfidf_matrix.values)
dist_euc = pd.DataFrame(dist_euc, columns = df.index, index = df.index)

dist_euc.style.background_gradient(cmap='Blues')

import seaborn as sns
%matplotlib inline

sns.heatmap(dist_euc, annot=True)

# Cosine distance

<br>
<center><img src='img/dist_cos.png' style='height:350px;'>
<small>Image credit: R-Bloggers</small></center>

In [10]:
from sklearn.metrics.pairwise import cosine_distances

dist_cos = cosine_distances(tfidf_matrix.values)
dist_cos = pd.DataFrame(dist_cos, columns = df.index, index = df.index)
dist_cos.style.background_gradient(cmap='Blues')

# ‚è™ Today's recap

- Vectorial representation of texts
    - Bag of Words
    - TF-IDF
- Distance metrics
    - Euclidean distance
    - Cosine distance

# Next class: Word2Vec